@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    
    font-size: 10px;
}

::selection{
    background-color: #6A3CC4;
    color: #fff;
}

::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar-thumb{
    display: none;
}





